* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    
    font-family: 'Exo 2', sans-serif monospace !important;
}

#bg-image{
    background-image: url("https://s1.pearlcdn.com/NAEU/Upload/News/65f0a503f9f20220308070046288.jpg");
    postion: relative;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    background-attachment: fixed;
}

.text-main{

    text-align: center;
    padding: 30px;
    margin-top: 70px; 
    color: #A5D7E8; 
}

.front-bg {
    background: rgba(0, 0, 0, 0.3);
    min-height: 100vh;
}

#text-projects{
    text-align: center;
    padding: 5px;
    margin-top: 10px; 
    color: #576CBC;
    text-transform: uppercase; 
/*    width: auto;*/
}

#text-project1{
    text-align: center;
    padding: 5px;
    margin-top: 10px; 
    color: #576CBC;
    text-transform: uppercase; 
/*    width: auto;*/
}
.text-contact{
    text-align: center;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px; 
    color: #576CBC;
    text-transform: uppercase;

}